.play {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .pentagon {
        position: absolute;
        align-self: center;
        margin-top: 4.375rem;

        @media (max-width: 480px) {
            height: 200%;
        }
    }

    .items {
        display: flex;
        justify-content: center;

        .icon {
            height: 160px;
            width: 160px;
            border: 18px solid;
            border-radius: 50%;
            transition: transform 0.2s;

            @media (max-width: 480px) {
                height: 130px;
                width: 130px;
            }

            &--scissors {
                @include icon($imageS, $scissors-gradient);
                transform: translateX(20rem);

                @media (max-width: 480px) {
                    transform: translateX(16.5rem);
                }

                &:hover {
                    transform: translateX(20rem) scale(1.05);

                    @media (max-width: 480px) {
                        transform: translateX(16.5rem) scale(1.05);
                    }

                }
            }

            &--spock {
                @include icon($imageSP, $spock-gradient);
                transform: translateX(0rem) translateY(6rem);

                &:hover {
                    transform: translateX(0rem) translateY(6rem) scale(1.05);
                }
            }

            &--paper {
                @include icon($imageP, $paper-gradient);
                transform: translateX(10rem) translateY(6rem);

                @media (max-width: 480px) {
                    transform: translateX(9rem) translateY(6rem);
                }

                &:hover {
                    transform: translateX(10rem) translateY(6rem) scale(1.05);

                    @media (max-width: 480px) {
                        transform: translateX(9rem) translateY(6rem) scale(1.05);
                    }
                }
            }

            &--lizard {
                @include icon($imageL, $lizard-gradient);
                transform: translateX(-16rem) translateY(17rem);

                @media (max-width: 480px) {
                    transform: translateX(-14rem) translateY(16rem);
                }

                &:hover {
                    transform: translateX(-16rem) translateY(17rem) scale(1.05);

                    @media (max-width: 480px) {
                        transform: translateX(-14rem) translateY(16rem) scale(1.05);
                    }
                }
            }

            &--rock {
                @include icon($imageR, $rock-gradient);
                transform: translateX(-14rem) translateY(17rem);

                @media (max-width: 480px) {
                    transform: translateX(-10rem) translateY(16rem);
                }

                &:hover {
                    transform: translateX(-14rem) translateY(17em) scale(1.05);

                    @media (max-width: 480px) {
                        transform: translateX(-10rem) translateY(16rem) scale(1.05);
                    }
                }
            }
        }
    }
}